node_modules
.DS_Store
dist
dist-ssr
*.local
.env
.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json



.nx/cache
.nx/workspace-data
.nx/migrate-runs
vite.config.*.timestamp*
vitest.config.*.timestamp*
# Local Netlify folder
.netlify
